 <table style="border-collapse:collapse"
        cellspacing="0" cellpadding="0" width="365" border="0">
   <tbody>
      <tr>
         <td width="150" style="border-bottom:solid #1F3864 1.0pt;height:50.15pt"/>
         <td width="215" style="border:none;border-bottom:solid #1F3864 1.0pt">
            <p>
               <img src="https://gitlab.com/pidancier/signature/-/raw/master/logo-gael-systems-baseline-240x58.png"
                  alt="logo_gael" width="240" height="58">
            </p>
         </td>
      </tr>
   </tbody>
</table>
<p style="margin:5 0 0 0"/>
<table style="font-size:9.0pt; color:#203864; border-collapse:collapse" 
       width="365" cellspacing="0" cellpadding="0" border="0">
   <tbody>
   <tr>
      <th></th>
      <th width="190"></th>
      <th></th>
   </tr>
   <tr>
    <td style="font-size:14.0pt">GAEL-Systems</td>
    <td colspan="2" align="right" style="width:200px">
       <a style="text-decoration:none" 
          href="https://www.gael-systems.com">https://www.gael-systems.com</a>
    </td>
  </tr>
  <tr><td colspan="3">25 rue Alfred Nobel</td></tr>
  <tr><td colspan="3">77420 - Champs-sur-Marne - France</td></tr>
  <tr><td colspan="2">Tel: +33 1 64 73 99 55 - +33 9 72 54 51 77</td>
      <td style="width:10px">
         <a href="https://www.linkedin.com/company/gael-systems">
            <img width="20" height="20" 
               src="https://gitlab.com/pidancier/signature/-/raw/master/logo-linkedin.png"/>
         </a>
      </td>
  </tr>
   </tbody>
</table>